*{
    margin: 0;
    padding: 0;
}


/*Pagina Esprit*/
.logo img{
    margin-left: 450px;
    margin-top: 150px;
    height: 30vh;
    width: 30%;
    display: flex;
   
    
}

hr{
  
  margin: 164px;
 
  
  
  
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    z-index: 98;
  }

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  z-index: 5;
}

.product-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-info {
  padding: 20px;
}

.product-info h2 {
  margin-top: 0;
}

.product-info p {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
